<h1>Display all users</h1>

<table class="users">
	<tr>
		<th>First Name</th>
		<th>Last Name</th>
		<th>Email Address</th>
	</tr>
	<% @users.each do |user| %>
		<tr>		
		    <td><%= user['first_name'] %></td>
		    <td><%= user['last_name'] %></td>
		    <td><%= user['email_address'] %></td>
		</tr>
	<% end %>     
</table>

<p>Find me in app/views/users/index.html.erb</p>