<h1>Add a new user</h1>

<%= @user.errors.full_messages.first if @user.errors.any? %>

<form action="/users" method="post">  
	<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
	<input type="text" name="user[first_name]" placeholder="first name" /><br>
	<input type="text" name="user[last_name]" placeholder="last name" /><br>
	<input type="text" name="user[email_address]" placeholder="email address" /><br>
	<input type="password" name="user[password]" placeholder="password" /><br>
<!-- 	<input type="password" name="passconf" placeholder="password confirm" /><br> -->
	<input type="submit" value="Submit new user" />
</form>

<p>Find me in app/views/users/new.html.erb</p>